.button__add {
  padding: 8px;
  background-color: rgba(250, 235, 215, 1);
  align-self: flex-end;
}

.button__add:hover {
  background-color: rgba(250, 235, 215, 0.7);
}

.button__add:disabled {
  cursor: unset;
  background-color: gainsboro;
}

.button__margin {
  margin-bottom: 20px;
}
