.page {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  width: 100%;
  color: #1A1B22;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px;
}

.button {
  border: none;
  box-shadow: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  cursor: unset;
  background-color: gainsboro;
}

.button:disabled:hover {
  background-color: gainsboro;
}

.table {
  border-collapse: collapse;
  align-self: center;
}

.table__row,
.table__cell {
  border: 1px solid black;
}

.page__table-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  align-items: flex-end;
}
